[user]
name = Roman Valls Guimera
email = brainstorm@nopcode.org
signingkey = F12FE607E080588AF5CED8F112A5388F08F80CB5
[github]
user = brainstorm
[core]
editor = vim
[color]
ui = auto
[filter "lfs"]
required = true
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
[alias]
# the acronym stands for "subtree add"
sta = "!f() { git subtree add --prefix $2 $1 master --squash; }; f"
# the acronym stands for "subtree update"
stu = "!f() { git subtree pull --prefix $2 $1 master --squash; }; f"
[diff]
	submodule = log
[commit]
	gpgsign = true
[gpg]
	program = gpg
